# Ignorer les fichiers d'environnement
# Ignorer les fichiers de configuration de l'environnement virtuel
venv/
env/
.env/
*.env
*.venv
*.envrc
*.venvrc
# Ignorer les fichiers compilés
__pycache__/
*.pyc
*.pyo
*.pyd


# Ignorer les fichiers de base de données
*.db
*.sqlite3  
*.sqlite
*.db3


# Ignorer les fichiers de log
*.log

# Autres fichiers temporaires ou de sauvegarde
*.csv   
*.json
*.xml
*.xlsx
*.xls
*.docx
*.pptx
*.pdf
*.zip
*.tar.gz
*.rar

# Ignorer les fichiers de sauvegarde
*.7z
*.gz
*.bz2
*.xz
*.tgz
*.egg-info
*.egg   
*.whl
*.dist-info 

# Ignorer les fichiers de configuration de l'IDE
.vscode/

# Ignorer config éditeurs
.idea/