fastapi
uvicorn
SQLAlchemy
psycopg2-binary
pydantic 
werkzeug
ipython
uvicorn
fitz
sqlalchemy
psycopg2
bcrypt==4.0.1
python-jose[cryptography] 
passlib[bcrypt]
pymupdf
python-multipart
requests
moviepy==1.0.3
openai-whisper
python-dotenv